body {
  padding: 0;
  
}
.container-autostopApp {
    max-width: 65vw;
    min-height: 80vh;
}

.no-padding {
    padding: 0;
}
/* Everything but the jumbotron gets side spacing for mobile first views */


.modal-body {
  min-height: 175px;
}

.btn-connection {
  margin-right: 25px;
}

.alert-link {
    cursor: pointer;
}



.badge-danger {
    background-color: #D9534F;
}
/* postJourney */
.suggestion-autocomplete { 
    cursor: pointer;
}

.selected {
    background-color: #F1F1F1;
}

.btn-pull-right {
    margin-right: 15px;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
}

.panel-footer-resultats {
    min-height: 55px;
}

.btn-resultats {
    margin-bottom: 5px;
}

@media screen and (max-width: 1445px) {
    .panel-footer-resultats {
        min-height: 100px;
    }
    .btn-footer-resultat {
        margin-top: 5px;
        width: 100%;
    }

}


    
.bottom-0 {
    bottom: 0;
}
.strong {
    font-weight: bold;
}



/** map **/

#amap {
    height: 450px;
}

.marker {
    cursor: pointer;
    height: 25px;
    width: 25px;
}
/** Resultats **/
.label-nbPlaces {
    text-align: left !important;
    padding-left: 15px;
}

/** Discussion **/
.discussion {
    list-style: none;
    background: none;
    margin: 0;
    padding: 0 0 50px 0;
    margin-bottom: 10px;
    overflow: auto;
    height: 63vh;
    background-color: #e5e5e5;
}


.discussion li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}

.discussion .avatar {
    width: 40px;
    height: 40px;
    position: relative;
    display: block;
    z-index: 2;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    background-color: rgba(255,255,255,0.9);
}

.discussion .avatar img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    background-color: rgba(255,255,255,0.9);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.discussion .day {
    position: relative;
    display: block;
    text-align: center;
    color: #c0c0c0;
    height: 20px;
    line-height: 38px;
    margin-top: 5px;
    margin-bottom: 20px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.msg-other .msg {
    order: 1;
    border-top-left-radius: 0px;
    box-shadow: -1px 2px 0px #D4D4D4;
}
.msg-other:before {
    content: "";
    position: relative;
    top: 0px;
    right: 0px;
    left: 40px;
    width: 0px;
    height: 0px;
    border: 5px solid #fff;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.msg-self {
    justify-content: flex-end;
    align-items: flex-end;
}
.msg-self .msg {
    order: 1;
    border-bottom-right-radius: 0px;
    box-shadow: 1px 2px 0px #D4D4D4;
}
.msg-self .avatar {
    order: 2;
}

.msg-self .avatar:after {
    content: "";
    position: relative;
    display: inline-block;
    bottom: 19px;
    right: 0px;
    width: 0px;
    height: 0px;
    border: 5px solid #fff;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 0px 2px 0px #D4D4D4;
}

.msg {
    background: white;
    min-width: 50px;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
}

.msg p {
    margin: 0 0 0.2rem 0;
    color: #777;
}

.msg img {
    position: relative;
    display: block;
    width: 450px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #eee;
    transition: all .4s cubic-bezier(0.565, -0.260, 0.255, 1.410);
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@media screen and (max-width: 800px) {
    .msg img {
        width: 300px;
    }
}
@media screen and (max-width: 550px) {
    .msg img {
        width: 200px;
    }
}

.msg time {
    font-size: 1rem;
    color: #ccc;
    margin-top: 3px;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.msg time:before{
    content:"\f017";
    color: #ddd;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 4px;
}

@-webikt-keyframes pulse {
    from { opacity: 0; }
    to { opacity: 0.5; }
  }
  
  ::-webkit-scrollbar {
      min-width: 12px;
      width: 12px;
      max-width: 12px;
      min-height: 12px;
      height: 12px;
      max-height: 12px;
      background: #e5e5e5;
      box-shadow: inset 0px 50px 0px rgba(82,179,217,0.9), inset 0px -52px 0px #fafafa;
  }
  
  ::-webkit-scrollbar-thumb {
      background: #bbb;
      border: none;
      border-radius: 100px;
      border: solid 3px #e5e5e5;
      box-shadow: inset 0px 0px 3px #999;
  }
  
  ::-webkit-scrollbar-thumb:hover {
      background: #b0b0b0;
    box-shadow: inset 0px 0px 3px #888;
  }
  
  ::-webkit-scrollbar-thumb:active {
      background: #aaa;
    box-shadow: inset 0px 0px 3px #7f7f7f;
  }
  
  ::-webkit-scrollbar-button {
      display: block;
      height: 26px;
  }

  emoji{
    display: inline-block;
    height: 18px;
    width: 18px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -7px;
    margin-right: 2px;
    transform: translate3d(0px, 3px, 0px);
}
emoji.please{background-image: url(https://imgur.com/ftowh0s.png);}
emoji.lmao{background-image: url(https://i.imgur.com/MllSy5N.png);}
emoji.happy{background-image: url(https://imgur.com/5WUpcPZ.png);}
emoji.pizza{background-image: url(https://imgur.com/voEvJld.png);}
emoji.cryalot{background-image: url(https://i.imgur.com/UUrRRo6.png);}
emoji.books{background-image: url(https://i.imgur.com/UjZLf1R.png);}
emoji.moai{background-image: url(https://imgur.com/uSpaYy8.png);}
emoji.suffocated{background-image: url(https://i.imgur.com/jfTyB5F.png);}
emoji.scream{background-image: url(https://i.imgur.com/tOLNJgg.png);}
emoji.hearth_blue{background-image: url(https://i.imgur.com/gR9juts.png);}
emoji.funny{background-image: url(https://i.imgur.com/qKia58V.png);}

  /* type */
  
  input.textarea {
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: 75px;
    z-index: 99;
    background: #e5e5e5;
    border: none;
    outline: none;
    padding-left: 55px;
    padding-right: 55px;
    color: #666;
    font-weight: 400;
}
.emojis {
    display: block;
    bottom: 8px;
    left: 7px;
    width: 34px;
    height: 34px;
    background-image: url(https://i.imgur.com/5WUpcPZ.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
    cursor: pointer;
}
.emojis:active {
    opacity: 0.9;
}

.btn-discussion {
    margin: 10px 0;
}

/* Custom page footer */
footer {
  margin: 0 50px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  height: auto;
}

footer a {
    color: #777;
}
/* footer */
.logo-footer {
  cursor: pointer;
}
.fa-facebook-official:hover {
    color: #4267B2;
}
.fa-twitter-square:hover {
    color: #1DA1F2;
}
.fa-git-square:hover {
    color: #F05033;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
}
.jumbotron .btn {
  font-size: 18px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
