<i class="fa fa-facebook-official fa-3x logo-footer" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Page facebook"></i>
<i class="fa fa-twitter-square fa-3x logo-footer" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Compte twitter"></i>
<a href="https://gitlab.com/timdu13/autostop/" target="blank">
    <i class="fa fa-git-square fa-3x logo-footer" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Dépot gitlab"></i>
</a>
<a href="http://timothe.xyz" target="blank">
    <i class="fa fa-user fa-3x logo-footer" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Site web du développeur"></i>
</a>
