<section>


<form action="" method="" class="form-horizontal" role="form">
        <div class="form-group">
            <legend>Inscription</legend>
        </div>

        <div class="form-group">
            <label for="inputSurname" class="col-sm-3 control-label">Prénom :</label>
            <div class="col-sm-9">
                <input id="inputSurname" ng-model="user.surname" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="inputName" class="col-sm-3 control-label">Nom :</label>
            <div class="col-sm-9">
                <input id="inputName" ng-model="user.name" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-sm-3 control-label">Email :</label>
            <div class="col-sm-9">
                <input id="inputEmail" ng-model="user.email" type="email" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="inputPassword1" class="col-sm-3 control-label">Mot de passe :</label>
            <div class="col-sm-9">
                <input id="inputPassword1" ng-model="user.password.first" type="password" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword2" class="col-sm-3 control-label">Confimartion :</label>
            <div class="col-sm-9">
                <input id="inputPassword2" ng-model="user.password.second" type="password" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="pull-right btn-pull-right">
                <button ng-click="onClickValider()" type="submit" class="btn btn-primary">S'inscrire</button>
            </div>
        </div>
</form>


</section>