
<div class="alert alert-danger" ng-show="errorNotRegister">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><strong>Connection obligatoire</strong></h4 class="weight">
        <br />
    
    <div class="row">
        <p>Vous devez être logger pour pouvoir voir cette page.</p>
        <p>Pour vous connecter, <a class="alert-link">cliquer ici !</a></p>
        <p>Si vous n'avez pas encore de compte, vous pouvez vous <a class="alert-link">inscrire ici</a></p>
    </div>
</div>


<div class="jumbotron">
  <h1>Autostop en Ardèche</h1>
  <a href="#!/rechercher-trajet" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Rechercher un trajet</a>
  <a href="#!/proposer-trajet" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Proposer un trajet</a>
  
</div>

<div class="row marketing">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi corporis officiis architecto distinctio error ut, aliquam id quia minus expedita voluptates perferendis officia hic quos tempora excepturi quisquam facere inventore?</p>
</div>
